<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - TP final</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/TP_final.styles.css" asp-append-version="true" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href='@Url.Action("Index","Home")'>Página Principal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href='@Url.Action("Foro","Home")'>Foro</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href='@Url.Action("Tablas","Home")' id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Primera
              </a>
              <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href='@Url.Action("Tablas","Home")'>Tablas</a></li>
                <li> <a class="dropdown-item" href='@Url.Action("Partidos","Home")'>Partidos</a></li>

              </ul>
            </li>
          </ul>
             <button class="boton-sesion">
              <div class="imgnom">
                <a id="linkPerfil"><img id="imgusuario"></a> @* href='@Url.Action("IniciarSesion","Home")'  *@
              </div>
              
            </button>
            @*<button class="boton-sesion">
              <a href='@Url.Action("IniciarSesion","Home")'> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" 
                class="bi bi-person-fill persona" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
              </a>
            </button>*@ 
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <footer class="border-top footer text-muted">
    <div class="container">
      &copy; 2022 - TP_final - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
  </footer>

<form>
    <div class="modal fade" id="modal-usuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modal-title-usuario">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body-usuario">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer" id="modal-footer-usuario">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <a class="btn btn-primary" href='@Url.Action("CerrarSesion")'>Cerrar Sesion</a>
        </div>
      </div>
    </div>
  </div>
</form>


  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
