@{
    ViewData["Title"] = "Foro";
}
<button class="d-none" id="btn-imgusuario"
    onclick="MostrarFotoUsuario('@ViewBag.Usuario.Foto', '@ViewBag.Usuario.Nombre', '@ViewBag.Usuario.idUsuario')"></button>

<form class="d-flex justify-content-center" method="post" enctype="multipart/form-data"
    action='@Url.Action("AgregarPost")'>
    <div class="row cuadrado-subir">
        <div class="col-8">
            <textarea class="form-control form-subir " rows="3" name="post.extoPost" placeholder="¿Que querés subir?" style="color: white;" required></textarea>
            <input type="file" class="form-control" name="MyFile" required>
            <input class="d-none"name="post.usuario" value="@ViewBag.Usuario.idUsuario">
            <button type="submit" class="btn btn-primary">Subir</button>
        </div>
    </div>
</form>
<div class="d-flex justify-content-center">
    <div class="cuadrado">
        @foreach (Post item in ViewBag.ListaPosts)
        {
            <div class="comentario">
                <div class="imgnom">
                    <img src="/wwwroot/img/usuarios/@item.Foto" class="Perfil"/>
                    <h2>@ViewBag.Usuario.Foto</h2>
                    <h4>@item.TextoPost</h4>
                </div>
            </div>
        }

    </div>
</div>
